@font-face {
    font-family: "Futura";
    src: url("/assets/fonts/SFUFuturaRegular.TTF") format("TTF"),
        url("/assets/fonts/SFUFuturaLight.TTF") format("TTF"),
        url("/assets/fonts/SFUFuturaBold.TTF") format("TTF");
}

body,
label,
h1,
h2,
h3,
h4,
h5,
p,
a,
b,
strong,
i,
input,
span,
button,
input,
optgroup,
select,
textarea {
    /* font-family: "Futura" !important; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
        sans-serif !important;
}

/*responesive group author, created at  */

@media only screen and (max-width: 1200px) {
    .desc-group {
        flex-direction: column !important;
        /* display: none !important; */
    }
}

.avatar-xxl {
    max-height: 17rem;
    max-width: 17rem;
    width: 17rem;
}
.fc-event .fc-title {
    color: #EF6448;
    font-weight: 600;
    font-size: 15px;
    padding: 2px;
}