.chart_tree {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chart_img {
    width: auto;
    height: 70px;
    object-fit: contain;
}

.chart_heading {
    display: flex;
    width: 100%;
    height: 150px;
}
.chart_title {
    text-align: center;
    color: #cd163f;
    font-size: 40px;
    font-weight: 700;
    margin-left: 75px;
}

.text_red {
    color: #cd163f;
}
.text_grey {
    color: #aaaaaa;
}
.text_blue {
    color: #00548d;
}

.card_active {
    background-color: antiquewhite;
    border: gray dashed 1px;
}
.card_hover {
    background-color: rgb(212, 181, 150);
}

.lineContainer {
    /* position: absolute; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0px;
}
.line {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0px;
    z-index: 0;
}

.dotFly {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: rgb(254, 255, 255);
}
.node {
    min-width: 220px;
    padding: 0px;
    position: absolute;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-size: 0.9rem;
    z-index: 1;
}
.node .dotTop {
    display: none;
    position: absolute;
    left: 47%;
    top: -2%;
    width: 10px;
    height: 10px;

    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: rgb(254, 255, 255);
}
.node .dotBottom {
    display: none;
    position: absolute;
    left: 47%;
    top: 98%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: rgb(254, 255, 255);
}
.node .dotLeft {
    display: none;
    position: absolute;
    left: -3%;
    top: 45.5%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: rgb(254, 255, 255);
}
.node .dotRight {
    display: none;
    position: absolute;
    left: 98%;
    top: 45.5%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: rgb(254, 255, 255);
}
.node .dotCenter {
    display: none;
    position: absolute;
    left: 48%;
    top: 48%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: rgb(254, 255, 255);
}
.node .header {
    display: flex;
    flex-direction: column;
    width: 222px;
    background-color: #5a9bd5;
    height: 80px;
    color: white;
    font-weight: bold;
    align-items: center;
    place-content: center;
    display: flex;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: default;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px 10px 0px 0px;
    font-size: 0.95rem;
}

/* .header::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        110deg,
        rgba(0, 255, 0, 0) 30%,
        rgba(255 255 255 / 15%) 30% 50%,
        rgba(0, 255, 255, 0) 50% 60%,
        rgb(255 255 255 / 15%) 60% 70%,
        rgba(255, 255, 255, 0) 70%
    );
} */

.node .header .text {
    padding: 5px;
}
.node .footerChart {
    background-color: transparent !important;
}
.node .level0 {
    background-color: #f1981f;
    border-radius: 8px;
}
.node .level1 {
    background-color: #fede13;
    border-radius: 8px;
}
.node .level2 {
    background-color: #22b04c;
    border-radius: 8px;
}
.node .level3 {
    background-color: #36a0d6;
    border-radius: 8px;
}
.node .level4 {
    background-color: white;
    border: #36a0d6 solid 1px;
    color: #36a0d6;
    border-radius: 8px;
}
.cardChart {
    width: 222px;
    /* width: 100%; */
    /* border-color: #ffc000; */
    border:  1px solid #ffc000;
    flex: content;
    text-align: center;
    user-select: none;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    border-radius: 8px;
    cursor: pointer;
}

.cardChart .avatar {
    margin-top: 5px;
    width: 140px;
    height: 140px;
    align-content: center;
    border-radius: 50%;
}
.cardChart .title {
    position: relative;
}
.cardChart .code {
    position: relative;
}
.cardChart .position {
    position: relative;
    /* margin-top: 5px; */
    position: relative;
    background-image: linear-gradient(110deg, #ff9500 0%, #ffc000 40%);
    height: 75px;
    display: flex;
    place-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

/* fix color label position */
.node .position.level1 {
    background-color: #fede13;
    background-image: none;
}

.node .position.level2 {
    background-color: #22b04c;
    background-image: none;
}

.node .position.level3 {
    background-color: #36a0d6;
    background-image: none;
}

/* end fix color label position */

/* fix border */
.border-level1 {
    border: 1px solid #fede13;
    border-radius: 8px;

}

.border-level2 {
    border: 1px solid #22b04c;
    border-radius: 8px;

}

.border-level3 {
    border: 1px solid #36a0d6;
    border-radius: 8px;

}

.border-level4 {
    border: 1px #36a0d6;
    border-radius: 8px;

}

/* end fix border */


.cardChart .department {
    position: relative;
    /* margin-top: 5px; */
    position: relative;
    background-image: linear-gradient(110deg, #ff9500 0%, #ffc000 40%);
    height: 50px;
    display: flex;
    place-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.cardChart .position::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        110deg,
        rgba(0, 255, 0, 0) 30%,
        rgba(255 255 255 / 15%) 30% 50%,
        rgba(0, 255, 255, 0) 50% 60%,
        rgb(255 255 255 / 15%) 60% 70%,
        rgba(255, 255, 255, 0) 70%
    );
}
.cardChart hr {
    margin-left: 20px;
    margin-right: 20px;
}
.node .bodContainer {
    background-image: linear-gradient(110deg, #ff9500 0%, #ffc000 40%);
}
.node .dept {
    background-image: linear-gradient(110deg, #56cf7d 0%, #30b44f 40%);
    height: 120px;
    text-align: center;
}

.containerChart {
    width: 100%;
}

.containerChart .deptTitle {
    position: absolute;
    text-align: center;
    font-size: xx-large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: bold;
    color: #77787b;
    margin-top: 50px;
}
.containerChart .deptTitle > span {
    color: #cd153f;
}
.containerChart .deptTitle > div {
    color: #00538c;
}
.containerChart1 {
    display: none;
}
.containerChart > .bodContainer {
    background-color: #dbf1ff;
    height: auto;
    height: 600px;
}
.containerChart > .bodContainer::before {
    content: "BAN GIÁM ĐỐC";
    background-color: rgb(164 226 255 / 72%);
    text-align: center;
    width: 600px;
    padding: 55px 0;
    font-size: 25px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    transform: rotate(270deg);
    transform-origin: 0 0;
    top: 100%;
    display: block;
    position: relative;
    font-weight: 700;
}

.containerChart > .depts {
    margin-top: 10px;
    background-color: #ccf8ff8a;
    height: 250px;
}

.containerChart > .depts::before {
    content: "PHÒNG CHỨC NĂNG";
    background-color: rgb(147 222 231 / 45%);
    text-align: center;
    width: 250px;
    padding: 36px 0;
    font-size: 25px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    transform: rotate(270deg);
    transform-origin: 0 0;
    top: 100%;
    display: block;
    position: relative;
    font-weight: 700;
}
.popup {
    position: absolute;
    display: none;
    font-size: xx-large;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-contentChart {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 550px;
    position: relative;
    border-radius: 12px;
    font-size: 20px;
}

/* The Close Button */
.close {
    color: #acacac;
    font-size: 25px;
    top: -8px;
    position: absolute;
    font-weight: bold;
    right: 5px;
    z-index: 1000;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.position {
    position: relative;
}

.position p {
    position: absolute;
    right: 0;
    bottom: -37px;
    color: #212529;
    font-weight: 400;
}

.node .bod {
    background-image: linear-gradient(110deg, #ff9500 0%, #ffc000 40%);
}
.containerChart > .bod::before {
    content: "BAN GIÁM ĐỐC";
    background-color: rgb(164 226 255 / 72%);
    text-align: center;
    width: 600px;
    padding: 55px 0;
    font-size: 25px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    transform: rotate(270deg);
    transform-origin: 0 0;
    top: 100%;
    display: block;
    position: relative;
    font-weight: 700;
}
.containerChart > .bod {
    background-color: #dbf1ff;
    height: auto;
    height: 600px;
}
.node:has(.cardChart) {
    border-radius: 0;
}
.node .nocard {
    border-radius: 10px 10px 10px 10px !important;
}
span.add_action, 
span.edit_action {
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
    padding: 2px;
    background-color: #28b779;
    background-position: center;
    background-repeat: no-repeat;
    border: solid 1px #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

span.edit_action {
    top: 81%;
    right: -12%;
    background-image: url(/assets/chartImg/edit.png);
}

span.add_action {
    top: 33%;
    right: -11%;
    background-image: url(/assets/chartImg/add.png);
}